.center {
    margin: auto;
    width: 50%;
    padding: 30px;
    text-align: center;
  }
  
  .textarea {
    width: 565px;
    height: auto;
  }

  .margins {
    margin-inline: 2.5em;
  }

  .margins2 {
    margin-inline: 1.75em;
  }

  .textincenter {
    text-align: center;
  }

  .line {
    padding: 10px;
    border-bottom: 1px solid black;
  }





  /* Large desktop */
@media (min-width: 1200px) { ... }
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { ... }
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) { ... }
 
/* Landscape phones and down */
@media (max-width: 480px) { ... }